# Introduction

### Libraries

Import [pandas](https://pandas.pydata.org/) and [numpy](https://numpy.org/) to make interacting with the data far easier

In [3]:
import pandas as pd
import numpy as np

Import [matplotlib](https://matplotlib.org/) and [seaborn](https://seaborn.pydata.org/) to create better looking visualizations later on

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

# The Data

The data, sourced primarily from [analyzeboston](https://data.boston.gov/) can be downloaded from their site, accessed via the wrapper code (see documentation), or loaded from the prepared local dataset.

### Loading the data locally

Use pandas to load the .csv file. Note that the delimiting character is

'\t'

rather than

','

In [48]:

df = pd.read_csv('deliverable/historicalpay.csv',sep='\t', encoding='utf-8')
df.head(10)

,Unnamed: 0.1,Unnamed: 0,_ID,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,QUINN_EDUCATION,TOTAL_EARNINGS,ZIPCODE,YEAR,DETAIL_PAY
0,0,0,2.0,McGowan Jacqueline M.,Boston Police Department,Police Officer,0.00,0.0,1252990.81,0.00,0.00,0.00,1252990.81,02129,2021.0,0.0
1,1,1,3.0,Harris Shawn N,Boston Police Department,Police Offc Comm Serv Offc 3 8,69772.10,0.0,212739.48,82300.87,30939.24,25178.06,433073.75,02130,2021.0,12144.0
2,2,2,4.0,Washington Walter,Boston Police Department,Police Officer,100963.38,0.0,211900.28,67849.66,0.00,10096.55,399825.87,02368,2021.0,9016.0
3,3,3,5.0,Mosley Jr. Curtis,Boston Police Department,Police Offc Comm Serv Offc 3 8,109858.02,0.0,192097.54,75938.65,0.00,0.00,397444.21,02301,2021.0,19550.0
4,4,4,6.0,Joseph Martin M,Boston Police Department,Police Sergeant Det,127626.76,0.0,124524.50,66433.83,0.00,12762.78,381432.87,02124,2021.0,50085.0
5,5,5,7.0,Demesmin Stanley,Boston Police Department,Police Lieutenant Det,142466.41,0.0,15820.50,167509.61,0.00,28198.49,378690.01,02052,2021.0,24695.0
6,6,6,8.0,Smith Sean P,Boston Police Department,Police Lieutenant,143566.78,0.0,16789.43,109101.43,0.00,35891.85,358589.49,02186,2021.0,53240.0
7,7,11,9.0,Lee Waiman,Boston Police Department,Police Detective,107352.54,0.0,16324.27,76434.46,0.00,26838.11,350183.38,02134,2021.0,123234.0
8,8,12,10.0,Barrett Thomas E.,Boston Police Department,Police Sergeant Det,130930.12,0.0,16723.95,166042.24,0.00,32732.73,346429.04,02132,2021.0,0.0
9,9,13,11.0,Danilecki John H,Boston Police Department,Police Captain,157595.81,0.0,24504.13,49388.68,6504.89,41025.08,343818.59,02559,2021.0,64800.0

### Asserting Types

Note the warning regarding standard types in columns 10 and 11. Let's give each of our float-only columns a fixed datatype to avoid conversions later on.

The following columns should always be floats, even in the absence of a value.

In [49]:
numeric_columns = [  'REGULAR',
                     'RETRO',
                     'OTHER',
                     'OVERTIME',
                     'INJURED',
                     'QUINN_EDUCATION',
                     'TOTAL_EARNINGS',
                     'YEAR',
                     'DETAIL_PAY']

By using *.to_numeric()* and then *.astype(float)*, we can apply vectorized operations. 

***This is incredibly important***

If this step is skipped, a single operation on a large column could take twenty times as long to run, or longer.

In [50]:

for column_name in numeric_columns:
    df[column_name] = pd.to_numeric(df[column_name], errors='ignore')
    df[column_name]=df[column_name].astype(float)
df.head(10)

,Unnamed: 0.1,Unnamed: 0,_ID,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,QUINN_EDUCATION,TOTAL_EARNINGS,ZIPCODE,YEAR,DETAIL_PAY
0,0,0,2.0,McGowan Jacqueline M.,Boston Police Department,Police Officer,0.00,0.0,1252990.81,0.00,0.00,0.00,1252990.81,02129,2021.0,0.0
1,1,1,3.0,Harris Shawn N,Boston Police Department,Police Offc Comm Serv Offc 3 8,69772.10,0.0,212739.48,82300.87,30939.24,25178.06,433073.75,02130,2021.0,12144.0
2,2,2,4.0,Washington Walter,Boston Police Department,Police Officer,100963.38,0.0,211900.28,67849.66,0.00,10096.55,399825.87,02368,2021.0,9016.0
3,3,3,5.0,Mosley Jr. Curtis,Boston Police Department,Police Offc Comm Serv Offc 3 8,109858.02,0.0,192097.54,75938.65,0.00,0.00,397444.21,02301,2021.0,19550.0
4,4,4,6.0,Joseph Martin M,Boston Police Department,Police Sergeant Det,127626.76,0.0,124524.50,66433.83,0.00,12762.78,381432.87,02124,2021.0,50085.0
5,5,5,7.0,Demesmin Stanley,Boston Police Department,Police Lieutenant Det,142466.41,0.0,15820.50,167509.61,0.00,28198.49,378690.01,02052,2021.0,24695.0
6,6,6,8.0,Smith Sean P,Boston Police Department,Police Lieutenant,143566.78,0.0,16789.43,109101.43,0.00,35891.85,358589.49,02186,2021.0,53240.0
7,7,11,9.0,Lee Waiman,Boston Police Department,Police Detective,107352.54,0.0,16324.27,76434.46,0.00,26838.11,350183.38,02134,2021.0,123234.0
8,8,12,10.0,Barrett Thomas E.,Boston Police Department,Police Sergeant Det,130930.12,0.0,16723.95,166042.24,0.00,32732.73,346429.04,02132,2021.0,0.0
9,9,13,11.0,Danilecki John H,Boston Police Department,Police Captain,157595.81,0.0,24504.13,49388.68,6504.89,41025.08,343818.59,02559,2021.0,64800.0

There are two extra index columns which will likely not come in handy, we can drop those from our dataframe.

In [68]:
if('Unnamed: 0' in df.columns and 'Unnamed: 0.1' in df.columns):
    df=df.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
    df.head(10)

# Analysis

Analysis should begin by exploring the data.

A few correlation matrices will give a rough idea of how each column is related to one another.

[Kendall correlation matrix](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient)

In [52]:
df.corr(method = "kendall")

/home/aidan/.local/lib/python3.8/site-packages/scipy/stats/_stats_py.py:5215: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

,_ID,REGULAR,RETRO,OTHER,OVERTIME,INJURED,QUINN_EDUCATION,TOTAL_EARNINGS,YEAR,DETAIL_PAY
_ID,1.000000,-0.221851,0.005431,-0.129531,-0.160418,-0.052124,-0.136718,-0.256777,0.027682,-0.143348
REGULAR,-0.221851,1.000000,0.072375,0.280872,0.235010,-0.000098,0.137848,0.832048,0.092296,0.201879
RETRO,0.005431,0.072375,1.000000,0.064795,-0.006906,0.034913,0.006967,0.081625,0.043783,0.011067
OTHER,-0.129531,0.280872,0.064795,1.000000,0.269892,0.105448,0.238095,0.375259,0.010973,0.237862
OVERTIME,-0.160418,0.235010,-0.006906,0.269892,1.000000,0.223353,0.378735,0.369356,0.005614,0.542817
INJURED,-0.052124,-0.000098,0.034913,0.105448,0.223353,1.000000,0.136296,0.154041,0.004247,0.239617
QUINN_EDUCATION,-0.136718,0.137848,0.006967,0.238095,0.378735,0.136296,1.000000,0.281764,0.001888,0.455578
TOTAL_EARNINGS,-0.256777,0.832048,0.081625,0.375259,0.369356,0.154041,0.281764,1.000000,0.081415,0.349767
YEAR,0.027682,0.092296,0.043783,0.010973,0.005614,0.004247,0.001888,0.081415,1.000000,-0.026193
DETAIL_PAY,-0.143348,0.201879,0.011067,0.237862,0.542817,0.239617,0.455578,0.349767,-0.026193,1.000000

[Pearson correlation matrix](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient)

In [53]:
df.corr(method = "pearson")

,_ID,REGULAR,RETRO,OTHER,OVERTIME,INJURED,QUINN_EDUCATION,TOTAL_EARNINGS,YEAR,DETAIL_PAY
_ID,1.000000,-0.314023,0.012841,-0.083495,-0.226303,-0.072701,-0.196894,-0.354679,0.041054,-0.148037
REGULAR,-0.314023,1.000000,0.149336,0.038956,0.327813,-0.109171,0.198935,0.877413,0.135153,0.173910
RETRO,0.012841,0.149336,1.000000,0.072035,0.212896,0.027487,0.162585,0.275834,0.026369,0.111535
OTHER,-0.083495,0.038956,0.072035,1.000000,0.099140,0.117747,0.148801,0.251152,0.021461,0.049080
OVERTIME,-0.226303,0.327813,0.212896,0.099140,1.000000,0.019187,0.492066,0.623288,0.060501,0.407104
INJURED,-0.072701,-0.109171,0.027487,0.117747,0.019187,1.000000,0.122669,0.134689,0.042249,0.011470
QUINN_EDUCATION,-0.196894,0.198935,0.162585,0.148801,0.492066,0.122669,1.000000,0.456028,0.069630,0.336688
TOTAL_EARNINGS,-0.354679,0.877413,0.275834,0.251152,0.623288,0.134689,0.456028,1.000000,0.134281,0.427545
YEAR,0.041054,0.135153,0.026369,0.021461,0.060501,0.042249,0.069630,0.134281,1.000000,-0.006394
DETAIL_PAY,-0.148037,0.173910,0.111535,0.049080,0.407104,0.011470,0.336688,0.427545,-0.006394,1.000000

[Spearman correlation matrix]()

In [55]:
df.corr(method = 'spearman')

,_ID,REGULAR,RETRO,OTHER,OVERTIME,INJURED,QUINN_EDUCATION,TOTAL_EARNINGS,YEAR,DETAIL_PAY
_ID,1.000000,-0.307349,0.007799,-0.181342,-0.210320,-0.065189,-0.168924,-0.340951,0.039655,-0.179673
REGULAR,-0.307349,1.000000,0.088925,0.371758,0.292053,-0.000738,0.167745,0.923502,0.130748,0.253863
RETRO,0.007799,0.088925,1.000000,0.078335,-0.007646,0.037085,0.007471,0.097822,0.052316,0.012171
OTHER,-0.181342,0.371758,0.078335,1.000000,0.323183,0.123011,0.277743,0.507990,0.014665,0.279879
OVERTIME,-0.210320,0.292053,-0.007646,0.323183,1.000000,0.245848,0.413041,0.465018,0.007061,0.598676
INJURED,-0.065189,-0.000738,0.037085,0.123011,0.245848,1.000000,0.140463,0.192054,0.005038,0.250471
QUINN_EDUCATION,-0.168924,0.167745,0.007471,0.277743,0.413041,0.140463,1.000000,0.346477,0.001797,0.475094
TOTAL_EARNINGS,-0.340951,0.923502,0.097822,0.507990,0.465018,0.192054,0.346477,1.000000,0.117029,0.434274
YEAR,0.039655,0.130748,0.052316,0.014665,0.007061,0.005038,0.001797,0.117029,1.000000,-0.031469
DETAIL_PAY,-0.179673,0.253863,0.012171,0.279879,0.598676,0.250471,0.475094,0.434274,-0.031469,1.000000

As this is yearly data, it can be interpreted as a time series. 

The data can be split year by year like this:

In [74]:
yearlydf = [d for _, d in df.groupby(['YEAR'])]


for x in yearlydf:
    print(x['YEAR'].head(1))

223343    2011.0
Name: YEAR, dtype: float64
202204    2012.0
Name: YEAR, dtype: float64
179736    2013.0
Name: YEAR, dtype: float64
157504    2014.0
Name: YEAR, dtype: float64
135603    2015.0
Name: YEAR, dtype: float64
113558    2016.0
Name: YEAR, dtype: float64
91314    2017.0
Name: YEAR, dtype: float64
67710    2018.0
Name: YEAR, dtype: float64
44399    2019.0
Name: YEAR, dtype: float64
22543    2020.0
Name: YEAR, dtype: float64
0    2021.0
Name: YEAR, dtype: float64

In order to find the yearly [variance](https://en.wikipedia.org/wiki/Variance) in total earnings across all departments:

In [87]:
for x in yearlydf:
    print(x['YEAR'].unique()[0],x['TOTAL_EARNINGS'].var())

2011.0 1652515872.0668435
2012.0 1763205630.429648
2013.0 1894516834.193175
2014.0 2356402953.042246
2015.0 2366064770.4420905
2016.0 2689782764.3194885
2017.0 2613643867.801583
2018.0 3125055280.5919037
2019.0 3280285698.1303144
2020.0 3122083539.3719196
2021.0 3257781356.316213

In order to find the yearly mean in total earnings across all departments:

In [88]:
for x in yearlydf:
    print(x['YEAR'].unique()[0],x['TOTAL_EARNINGS'].mean())

2011.0 63264.73485030232
2012.0 62208.16201286721
2013.0 61613.77385526081
2014.0 66919.41290032385
2015.0 70857.39363864664
2016.0 71679.00632297572
2017.0 71512.76548732241
2018.0 72870.51252944664
2019.0 77043.71548281926
2020.0 83253.2002036054
2021.0 82747.1137554895

And to into department similarily:

In [97]:
departmentlist = [d for _, d in df.groupby(['DEPARTMENT_NAME'])]
#not printed because there are 288 departments
for x in departmentlist:
    y=(x['DEPARTMENT_NAME'].head(1))

In [78]:
print(len(departmentlist))

288

In order to find the intra-department [variance](https://en.wikipedia.org/wiki/Variance) in total earnings across all years:

In [95]:
# not printed because there are 288 departments.
for x in departmentlist:
    y = (x['DEPARTMENT_NAME'].unique()[0],x['TOTAL_EARNINGS'].var())

In order to find the intra-department mean in total earnings across all years:

In [93]:
#not printed 
for x in departmentlist:
    y = x['DEPARTMENT_NAME'].unique()[0],x['TOTAL_EARNINGS'].mean()